<div class="global_wrapper">
  <div class="foreground_element">
    <% if @user == current_user %>
      <% if @user.first_name != "" %>
        <h1>Hi <%= @user.first_name %></h1>
        <h3>your recipes:</h3>
      <% else %>
        <h1>My recipes</h1>
      <% end %>
    <% else %>
      <h1><%= @user.username %>'s recipes</h1>
    <% end %>
  </div>

  <% if @recipes.exists? %>
  <%= render 'shared/recipe_cards' %>
  <% else %>
  <div class="foreground_element">
    <p>Nothing but sadness here</p>
    <%= link_to 'Add a recipe instead', new_recipe_path, class: 'btn btn-warning' %>
  </div>
  <% end %>

  <% if @favourites.exists? %>
    <div class="foreground_element">
      <% if @user == current_user %>
        <h2>Your favourites</h2>
      <% else %>
        <h2><%= @user.username %>'s favourites</h2>
      <% end %>
    </div>
  <% end %>

  <% @recipes = nil %>

  <% @favourites.each do |favourite| %>
    <% @recipes = Recipe.where(id: favourite.recipe_id) %>
    <%= render 'shared/recipe_cards' %>
  <% end %>

</div>
