<%= simple_form_for(@recipe) do |f| %>
  <% if @recipe.name == nil || @recipe.method != nil %>
    <div class="foreground_element">
      <%= f.input :name, label: "What is the name of your recipe?", placeholder: "Enter recipe name" %>
    </div>
    <% if @recipe.method == nil %>
      <div class="foreground_element">
        <%= f.submit 'Create recipe', class: "btn btn-primary" %>
      </div>
      <% end %>
    <% end %>

  <% if (@recipe.categories.exists? == false && @recipe.name != nil) || @recipe.method != nil %>
    <div class="foreground_element">
      <%= f.label "What kind of recipe is this? (select all that apply)" %><br />
      <%= f.collection_check_boxes :category_ids, Category.all.order(:name), :id, :name do |b| %>
        <div class="checkboxes_inline">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
      <div class="floated_images_clear"></div>
    </div>
    <% if @recipe.method == nil %>
      <div class="foreground_element">
        <%= f.submit 'Add categories', class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>

  <% if (@recipe.equipment.exists? == false && @recipe.categories.exists? == true) || @recipe.method != nil %>
    <div class="foreground_element">
      <%= f.label "Does this recipe require any of the following equipment?" %><br />
      <%= f.collection_check_boxes :equipment_ids, Equipment.all.order(:name), :id, :name do |b| %>
        <div class="checkboxes_inline">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
      <div class="floated_images_clear"></div>
    </div>
    <% if @recipe.method == nil %>
      <div class="foreground_element">
        <%= f.submit 'Add equipment', class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>

  <% if @recipe.equipment.exists? == true || @recipe.method != nil %>
    <div class="foreground_element">
      <div class="form-inline form_row">
        <%= f.input :servings, collection: 1..20, required: true, label: false, prompt: "Number of servings", input_html: { style: 'width: 250px' } %>
        <%= f.input :cooking_time, collection: @times, required: true, label: false, prompt: "Total cooking time (mins)", input_html: { style: 'width: 250px' } %>
      </div>
      <div class="form_row">
        <%= f.input :method, as: :text, required: true, label: "What is the method?", input_html: { style: 'height: 300px; width: 100%' } %>
      </div>
      <div class="form_row file_upload">
        <%= f.input :photo, label: "Upload a photo" %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>
      <% if @recipe.method == nil %>
        <div>
          <%= f.submit 'Save the method', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>

  <% end %>

  <% if @recipe.method != nil %>
    <div class="foreground_element">
      <%= f.submit 'Update this recipe', class: 'btn btn-primary' %>
    </div>
  <% end %>

<% end %>
