<% content_for :meta_title, "#{@recipe.name} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @recipe.method %>
<% if @recipe[:photo] != nil %>
  <% content_for :meta_image, cl_image_path(@recipe.photo) %>
<% end %>

<!-- Facebook share button js code begin -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Facebook share button js code end -->

<div class="global_wrapper">
  <% if current_user && @recipe.user != current_user %>
    <% favs = Favourite.where(user: current_user, recipe: @recipe).take %>
    <% if favs %>
      <div class="star star_show full_star">
        <%= link_to recipe_favourite_path(@recipe, favs.id), method: :delete do %>
          <i class="fas fa-star"></i>
        <% end %>
      </div>
    <% else %>
      <div class="star star_show empty_star">
        <%= link_to recipe_favourites_path(@recipe), method: :post do %>
          <i class="far fa-star"></i>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="social_media_buttons">

    <!-- Twitter tweet button start -->
    <a href="https://twitter.com/intent/tweet?text=<%= @recipe.name %> on Plant as Usual&url=https%3A%2F%2Fwww.plantasusual.com%2Frecipes%2F<%= @recipe.id %>&via=plantasusual&hashtags=vegan,plantbased" class="twitter-share-button" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- Twitter tweet button end -->

    <!-- Facebook share button start -->
    <div class="fb-share-button" data-href="https://www.plantasusual.com/recipes/<%= @recipe.id %>" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.plantasusual.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
    <!-- Facebook share button end -->

  </div>

  <div class="foreground_element">
    <% if policy(@recipe).edit? %> <!-- USES PUNDIT TO CHECK WHETHER THE USER IS AUTHORIZED TO EDIT THIS RECIPE -->
      <div class="space_around">
        <%= link_to '|edit the ingredients|', new_recipe_amount_path(@recipe), class: 'edit_button' %>
        <%= link_to '|edit this recipe|', edit_recipe_path(@recipe), class: 'edit_button' %>
      </div>
    <% end %>
    <h1><%= @recipe.name %></h1>
    <% @categories.each do |cat| %>
      &#160;|<%= cat.name %>|&#160;
    <% end %>
  </div>

  <% if @recipe[:photo] %>
    <div class="foreground_element">
      <div class="recipe_show_photo">
        <%= cl_image_tag(@recipe.photo, transformation: { dpr: "auto", responsive: true, width: "auto", crop: "scale", angle: 357}) %>
      </div>
    </div>
  <% end %>

  <div class="foreground_element">
    <h3>Ingredients</h3>
    <ul>
      <%= render 'shared/amounts' %>
    </ul>
  </div>

  <% if @equipments.exists? %>
    <div class="foreground_element">
      <p><span class="section_title">Requires:</span>
        <% @equipments.each do |eq| %>
          <%= eq.name %>,
        <% end %>
      </p>
    </div>
  <% end %>

  <div class="foreground_element">
    <% if @recipe.servings %>
      <p><span class="section_title">Servings:</span> <%= @recipe.servings %>
    <% end %>
    &#160;&#160;&#160;
    <% if @recipe.cooking_time %>
      <span class="section_title">Cooking time:</span> <%= @recipe.cooking_time %> mins</p>
    <% end %>
  </div>

  <div class="foreground_element">
    <h3>Method</h3>
    <p><%= simple_format(@recipe.method) %></p>
  </div>

  <%= link_to profile_path(@recipe.user.profile) do %>
    <div class="foreground_element">
      <p>See all recipes by <%= @recipe.user.username %> </p>
    </div>
  <% end %>

  <div class="foreground_element">
    <h3>Comments</h3>
    <% if current_user %>
      <%= simple_form_for [@recipe, @comment] do |f| %>
        <%= f.input :body, as: :text, label: 'Add a comment', input_html: { style: 'height: 150px' } %>
        <%= f.submit 'Comment', class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <%= link_to 'Sign-in to comment', new_user_session_path %>
    <% end %>
  </div>

  <% comments = Comment.where(recipe_id: params[:id]) %>
  <% comments.each do |c| %>
    <div class="foreground_element">
      <p class="comment_body">
        <span class="comment_date"><%= c.created_at.strftime("%Y-%m-%d") %></span>
        <%= c.body %>
      </p>
      <div class="space_between">
      <div><%= link_to 'Report this comment', new_recipe_comment_comment_report_path(@recipe, c) %></div>
      <div class="comment_user"><%= link_to c.user.username, profile_path(c.user) %></div>
      </div>
    </div>
  <% end %>

    <%= link_to new_recipe_recipe_report_path(@recipe) do %>
  <div class="foreground_element">
    Report this recipe
  </div>
  <% end %>
</div>
