<ul class="recipe_index_cards">
<% @recipes.each do |recipe| %>
<%= link_to recipe_path(recipe) do %>
<div class="foreground_element">
<li>
  <% if recipe[:photo] %>
  <%= cl_image_tag recipe.photo, height: 200, width: 200, crop: :fill %>
  <% end %>
  <h2><%= recipe.name %></h2>
  <% if recipe.cooking_time %>
  <p><span class="section_title">Cooking time:</span> <%= recipe.cooking_time %> mins</p>
  <% end %>
  <% if recipe.servings %>
  <p><span class="section_title">Servings:</span> <%= recipe.servings %></p>
  <% end %>

  <% re = RecipeEquipment.where(recipe_id: recipe.id) %>
  <% if re.exists? %>
  <p>
    <span class="section_title">Requires:</span>
    <% re.each do |e| %>
      <%= e.equipment.name %>,
    <% end %>
  </p>
  <% end %>

  <div class="floated_images_clear"></div>
</li>
</div>
<% end %>
<% end %>
</ul>
