<ul class="recipe_index_cards">
  <% @recipes.each do |recipe| %>

  <% if recipe.deleted == false %>
  <% if recipe.method != nil && recipe.method != "" || recipe.user == current_user %>

    <% if current_user && recipe.user != current_user %>
      <% favs = Favourite.where(user: current_user, recipe: recipe).take %>
      <% if favs %>
        <div class="star star_card full_star">
          <%= link_to recipe_favourite_path(recipe, favs.id), method: :delete do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
      <% else %>
        <div class="star star_card empty_star">
          <%= link_to recipe_favourites_path(recipe), method: :post do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <%= link_to recipe_path(recipe) do %>
      <div class="foreground_element">
        <li>
          <div class="recipe_show_photo">
            <% if recipe[:photo] %>
              <%= cl_image_tag recipe.photo, height: 200, width: 200, crop: :fill %>
            <% end %>
          </div>
          <h2><%= recipe.name %></h2>
          <% if recipe.cooking_time %>
            <p><span class="section_title">Cooking time:</span> <%= recipe.cooking_time %> mins</p>
          <% end %>
          <% if recipe.servings %>
            <p><span class="section_title">Servings:</span> <%= recipe.servings %></p>
          <% end %>

          <% re = recipe.equipment %>
          <% if re.exists? %>
            <p>
              <span class="section_title">Requires:</span>
              <% re.each do |e| %>
                <%= e.name %>,
              <% end %>
            </p>
          <% end %>

          <div class="floated_images_clear"></div>
        </li>
      </div>
    <% end %>
    <% end %>
  <% end %>
  <% end %>
</ul>
