<%= simple_form_for [@recipe, @amount], html: { class: 'form-inline' } do |f| %>
<div class="foreground_element">
  <div class="form_row">
  <%= f.input :ingredient, label: false, placeholder: 'Ingredient' %>
  <%= f.input :size, label: false, placeholder: 'Amount', input_html: { style: 'width: 110px' } %>
  <%= f.association :unit, label_method: :measurement, label: false, prompt: 'unit' %>
  <%= f.association :preparation_method, label: false, prompt: 'none' %>
</div>
  <div class="form_row">
  <%= f.input :optional, label: 'This ingredient is optional' %>
</div>
  <div>
  <%= f.submit 'Add ingredient', class: 'btn btn-primary' %>
  </div>
  </div>
<% end %>
