<div class="global_wrapper">
  <div class="foreground_element">
<h1><%= @recipe.name %></h1>
  </div>

<div class="foreground_element">
  <h2>Add ingredients</h2>
<ul>
  <%= render 'shared/amounts' %>
</ul>
</div>

<%= render 'form', recipe: @recipe, amount: @amount %>

<div class="foreground_element">
<% if @recipe.method == nil %>
<%= link_to "I've finished adding ingredients", new_recipe_recipe_equipment_path, class: 'btn btn-warning' %>
<% else %>
<%= link_to "Back to the recipe", recipe_path(@recipe), class: 'btn btn-warning' %>
<% end %>
</div>
</div>
