<div class="global_wrapper">
  <div class="foreground_element">
<h1><%= @recipe.name %></h1>
  </div>

<div class="foreground_element">
  <h2>Add ingredients</h2>
<ul>
  <% @recipe_amounts.each do |ra| %>
    <li>
      <%= ra.size %>
      x
      <% if ra.unit %><%= ra.unit.measurement %>
      <% if ra.unit.measurement != "whole" && ra.unit.measurement != "large" && ra.unit.measurement != "medium" && ra.unit.measurement != "small" %>of<% end %><% end %>
      <%= ra.ingredient.name.downcase %><% if ra.preparation_method %>,
        <%= ra.preparation_method.name %>
      <% end %>
      <% if ra.optional %>
        (optional)
      <% end %>
    </li>
  <% end %>
</ul>
</div>

<%= render 'form', recipe: @recipe, amount: @amount %>

<div class="foreground_element">
<%= link_to "I've finished adding ingredients", new_recipe_recipe_equipment_path, class: 'btn btn-warning' %>
</div>
</div>
