<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>

  <% landscape_images = ['fruit.jpg', 'chop.jpg', 'fruity.jpg', 'decorative.jpg'] %>
  <% seemless_images = ['avocado.jpg', 'lime.jpg', 'corn.jpg', 'shallots.jpg', 'tomato.jpg', 'peppers.jpg'] %>

  <body class="background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path seemless_images.sample %>');">
    <%= render 'shared/flashes' %>
    <%= render 'shared/logo' unless defined? @logo_hide %>
    <%= render 'shared/search' unless defined? @search_bar_hide %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
